.types-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 14px;

    @media screen and (max-width:768px) {
        flex-direction: column;
    }
}

.label {
    color: #E5DFD9;
    margin-top: 10px;
}

.type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width:768px) {
        margin-bottom: 12px;
    }
}

.category-display-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 14px;
}

.category-display {
    color: #E5DFD9;
    font-size: 12px;
}

.dot {
    font-size: 30px;
}

.total-products {
    color: #E5DFD9;
    font-size: 12px;
}


.share {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}